<div class="permit-container">

  <!-- HEADER -->
  <div class="header-section">

    <input 
      type="text"
      placeholder="Search resident..."
      [(ngModel)]="searchText"
      (input)="filterResidents()"
    />

  </div>

  <!-- LIST -->
  <div class="resident-list">

    <div class="resident-card" *ngFor="let resident of filteredResidents">

      <h3>{{ resident.fullname }}</h3>
      <p>Zone {{ resident.address?.zone }}</p>

      <button 
        pButton
        label="Create Permit"
        class="p-button-warning"
        (click)="openPermit(resident)">
      </button>

    </div>

  </div>

</div>

<!-- MODAL -->
<app-barangay-permit-form
  *ngIf="showModal"
  [selectedResident]="selectedResident"
  (close)="closeModal()"
  (save)="savePermit($event)">
</app-barangay-permit-form>