
<header class="login-header">
    <div class="left-nav">
        <span class="icon">👥</span>
        <span class="BRIMS">BRIMS</span>
    </div> 

    <div class="right-nav">
        <a routerLink="about">About</a> 
        <a routerLink="contact">Contact</a>
    </div>
</header> 

<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>

     <!-- Error message box -->
    @if (message && message.includes('Invalid')) {
      <div class="error-message">
        {{ message }}
      </div>
    }

     <!-- Success message box -->
    @if (message && message.includes('successful')) {
      <div class="success-message">
        {{ message }}
      </div>
    }

    <form (ngSubmit)="login()">
      <input
        type="text"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />

       <input
      type="text"
      [(ngModel)]="role"
      name="role"
      placeholder="Role"
      required
      />
      
      <button type="submit">Login</button>
    </form>

  </div>
</div>
