<div class="archive-container">

  <div class="page-header">
    <h2>Archived Residents</h2>
    <p>Archived Residents</p>
  </div>

  <div *ngIf="loading" class="empty-state">
    Loading archived residents...
  </div>

  <div *ngIf="!loading && archivedResidents.length === 0" class="empty-state">
    No archived residents found.
  </div>

  <table *ngIf="!loading && archivedResidents.length > 0">
    <thead>
      <tr>
        <th>User / Resident ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Zone</th>
        <th>Street</th>
        <th>Barangay</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let resident of archivedResidents">
        <td>{{ resident.id }}</td>
        <td>{{ resident.fullname }}</td>
        <td>{{ resident.userEmail }}</td>
        <td>Zone {{ resident.address.zone }}</td>
        <td>{{ resident.address.street }}</td>
        <td>{{ resident.address.barangay }}</td>

        <td>
          <button (click)="restoreResident(resident)">
            Restore
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>