.blotter-container {
  display: flex;
  gap: 20px;
  padding: 20px;

  .summary-boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;

  .summary-card {
    border-radius: 12px;
    padding: 12px;
    color: #fff;
    text-align: center;
    transition: 0.2s ease;

    /* remove default PrimeNG style */
    ::ng-deep .p-card {
      background: transparent;
      box-shadow: none;
    }

    h2 {
      font-size: 34px;
      margin: 10px 0;
      font-weight: bold;
      color: #fff; /* override old dark color */
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }
  }

  /* COLORS */
  .summary-card:nth-child(1) {
    background: linear-gradient(135deg, #3b82f6, #1e3a8a); /* Active */
  }

  .summary-card:nth-child(2) {
    background: linear-gradient(135deg, #22c55e, #166534); /* Settled */
  }

  .summary-card:nth-child(3) {
    background: linear-gradient(135deg, #daa243, #74462a); /* Scheduled */
  }
}

  .case-list {
    flex: 1;

    .header {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 15px;
    }

    input, select {
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 8px;
      border: 1px solid #ddd;
      transition: all 0.25s ease;
    }

  /* SEARCH INPUT ONLY */
    .header input {
      width: 220px;
    }

  /* PLACEHOLDER */
    .header input::placeholder {
      color: #9ca3af;
      font-style: italic;
      letter-spacing: 0.3px;
    }

  /* HOVER */
    .header input:hover {
      border-color: #c7d2fe;
    }

  /* FOCUS */
    .header input:focus {
      outline: none;
      border-color: #22c55e;
      box-shadow: 0 0 0 2px rgba(34,197,94,0.15);
    }

  /* CARET COLOR */
    .header input {
      caret-color: #22c55e;
    }

    .case-row {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr 0.8fr 0.8fr;
      gap: 10px;
      align-items: center;
      padding: 10px 15px;
      margin-bottom: 8px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.05);

      &:hover {
        background-color: #e3f2fd;
      }

      .resident-name, .complaint, .status, .date {
        font-size: 14px;
      }

      button {
        font-size: 13px;
      }
    }
  }
}