<nav class="sidebar">

  <!-- Menu -->
  <ul>
    <li *ngFor="let item of menu" class="menu-item" routerLinkActive="active">

      <!-- With submenu -->
      <div *ngIf="item.subMenu" class="has-submenu">
        <span>
          <i [class]="item.icon"></i>
          <span class="label">{{ item.label }}</span>
        </span>

        <ul class="submenu">
          <li *ngFor="let sub of item.subMenu" routerLinkActive="active">
            <a [routerLink]="sub.routerLink">{{ sub.label }}</a>
          </li>
        </ul>
      </div>

      <!-- Normal item -->
      <a *ngIf="!item.subMenu" [routerLink]="item.routerLink">
        <i [class]="item.icon"></i>
        <span class="label">{{ item.label }}</span>
      </a>

    </li>
  </ul>

</nav>