.sidebar {
  width: 220px;
  background-color: #001a33;
  color: white;
  height: 100vh;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  font-family: 'playfair display', serif;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;

    li {
      margin-bottom: 1rem;
      position: relative;

      a, span {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 0.5rem;
        border-radius: 6px;
        transition: background 0.3s;

        &:hover {
          background: #0056b3;
        }

        i {
          font-size: 1.3rem;
          width: 30px;
          text-align: center;
        }

        .label {
          margin-left: 0.5rem;
        }
      }

      .has-submenu {
        position: relative;

        .submenu {
          display: none;
          list-style: none;
          padding: 0;
          margin: 0;
          position: absolute;
          left: 0;
          top: 100%;
          background-color: #00264d;
          min-width: 220px;
          border-radius: 6px;
          z-index: 10;

          li {
            a {
              padding: 10px 15px;
              display: block;
              color: #fff;

              &:hover {
                background-color: #004080;
              }
            }
          }
        }

        &:hover .submenu {
          display: block;
        }
      }

      &.active > a {
        background-color: #004080;
      }
    }
  }
}