<header class="login-header">
  <div class="left-nav">
    <span class="icon">👥</span>
    <span class="BRIMS" (click)="refreshPage()">BRIMS</span>
  </div>

  <div class="right-nav">
    <a routerLink="/about">About</a>
    <a routerLink="/contacts">Contact</a>
  </div>
</header>

<div class="login-container">

  <!-- LEFT SIDE -->
  <div class="left-content">
    <h2>BARANGGAY</h2>
    <h2>RESIDENTS</h2>
    <h2>INFORMATION</h2>
    <h2>MANAGEMENT</h2>
    <h2>SYSTEM</h2>
  </div>

  <!-- RIGHT SIDE -->
  <div class="login-box">
    <h2>Login</h2>

    <form (ngSubmit)="login()">

      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Enter your email"
        autocomplete="email"
        required
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Enter your password"
        autocomplete="current-password"
        required
      />

      <button type="submit">
        Login
      </button>

    </form>
  </div>

</div>