/* HEADER */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  padding: 18px 22px;
  border-radius: 14px;

  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  margin-bottom: 20px;

  color: white;
}

/* TITLE */
.title-box h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  color: white;
}

.title-box p {
  margin: 4px 0 0;
  font-size: 16px;
  color: #dbeafe;
}

/* CONTROLS ROW */
.right-controls {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

/* FILTER + SEARCH WRAPPER */
.filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.search-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* LABEL */
.filter-box label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #eeeff1;
}

/* INPUTS */
.filter-box select,
.search-box input {
  height: 38px;
  padding: 0 12px;

  border-radius: 10px;
  border: none;
  outline: none;

  background: white;
  font-size: 13px;
}

/* SEARCH LONGER ONLY */
.search-box {
  flex: 2;
}

.search-box input {
  min-width: 320px;
  width: 100%;
}

/* BUTTON */
.add-btn {
  height: 38px;
  padding: 0 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  color: #1e3a8a;

  border: none;
  border-radius: 10px;

  font-weight: 700;
  cursor: pointer;

  transition: 0.3s ease;
}

.add-btn:hover {
  background: #dbeafe;
}

/* ALL ZONE REC */
.zone-record-title {
  margin: 15px 0;

  background: rgba(0,0,0,0.12);
  padding: 12px 16px;

  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);

  font-size: 16px;
  font-weight: 700;
  color: #1e3a8a;

  display: flex;
  align-items: center;
  gap: 8px;
}

.zone-record-title::before {
  content: "";
  width: 4px;
  height: 18px;
  background: #2563eb;
  border-radius: 4px;
}

/* TABLE */
.table-wrapper {
  background: rgba(0,0,0,0.12);
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.residents-table {
  width: 100%;
  border-collapse: collapse;
}

.residents-table th {
  background: #1e3a8a;
  color: white;
  padding: 12px;
  font-size: 13px;
}

.residents-table td {
  padding: 12px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 13px;
}

/* NAME STYLE */
.name {
  font-weight: 600;
  color: #1e293b;
}

/* VOTER */
.voter {
  color: #16a34a;
  font-weight: 600;
}

.non-voter {
  color: #dc2626;
  font-weight: 600;
}

/* ACTIONS */
.actions button {
  margin-right: 5px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.view-btn {
  background: #2563eb;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}