<div class="residents-page">

  <!-- ===== HEADER CONTROLS ===== -->
  <div class="page-header">

    <div class="left-controls">

      <div class="title-box">
        <h2>Residents Information</h2>
        <p>Manage all barangay resident records</p>
      </div>

    </div>

    <div class="right-controls">

      <!-- ZONE FILTER -->
      <div class="filter-box">
        <label>Zone</label>
        <select [(ngModel)]="selectedZone" (change)="filterResidents()">
          <option [ngValue]="null">All Zones</option>
          <option *ngFor="let zone of zones" [ngValue]="zone">
            Zone  {{ zone }}
          </option>
        </select>
      </div>

      <!-- SEARCH -->
      <div class="search-box">
        <input
          type="text"
          placeholder="Search resident..."
          [(ngModel)]="searchText"
          (input)="onSearchChange()"
        />
      </div>

      <!-- ADD BUTTON -->
      <button class="add-btn" (click)="addResident()">
        + Add Resident
      </button>

    </div>
  </div>

  <!-- ===== TITLE ===== -->
<div class="section-title">
  <div class="zone-record-title">
    {{
      selectedZone === null
        ? 'All Zone Records'
        : 'Zone ' + selectedZone + ' Records'
    }}
  </div>
</div>

  <!-- ===== TABLE ===== -->
  <div class="table-wrapper">

    <table class="residents-table">

      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Birthdate</th>
          <th>Civil Status</th>
          <th>Gender</th>
          <th>Voter</th>
          <th>Zone</th>
          <th>Street</th>
          <th>Barangay</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let resident of residents">

          <td>{{ resident.id }}</td>
          <td class="name">{{ resident.fullname }}</td>
          <td>{{ resident.birthdate }}</td>
          <td>{{ resident.civilStatus }}</td>
          <td>{{ resident.gender }}</td>

          <td>
            <span [class.voter]="resident.isVoter"
                  [class.non-voter]="!resident.isVoter">
              {{ resident.isVoter ? 'Yes' : 'No' }}
            </span>
          </td>

          <td>{{ resident.address?.zone }}</td>
          <td>{{ resident.address?.street }}</td>
          <td>{{ resident.address?.barangay }}</td>

          <td class="actions">
            <button class="view-btn" (click)="openResident(resident)">
              View
            </button>

            <button class="delete-btn" (click)="deleteResident(resident)">
              Delete
            </button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>

</div>

<!-- MODAL -->
<app-resident-form
  *ngIf="showForm"
  [residentData]="selectedResident"
  [isEditMode]="isEditMode"
  (close)="closeForm()"
  (save)="saveResident($event)">
</app-resident-form>