<div class="modal">

  <div class="modal-content">

    <div class="modal-header">

      <div>
        <h2>
          {{ residentData ? 'Resident Details' : 'Add Resident' }}
        </h2>

        <p>
          Manage resident information.
        </p>
      </div>

      <button
        type="button"
        class="x-btn"
        (click)="onClose()"
      >
        ×
      </button>

    </div>

    <div
      *ngIf="submitted && missingFields.length > 0"
      class="warning"
    >
      Please complete:
      {{ missingFields.join(', ') }}
    </div>

    <div
      *ngIf="checkDuplicateLive()"
      class="warning"
    >
      Resident already exists.
    </div>

    <form (ngSubmit)="onSubmit()">

      <div class="photo-section">

        <div class="photo-wrapper">

          <img
            *ngIf="resident.photo"
            [src]="resident.photo"
          >

          <div
            *ngIf="!resident.photo"
            class="photo-placeholder"
          >
            No Photo
          </div>

          <button
            *ngIf="resident.photo && isEditMode"
            type="button"
            class="remove-photo-btn"
            (click)="removePhoto()"
          >
            ×
          </button>

        </div>

        <div
          class="photo-actions"
          *ngIf="isEditMode"
        >

          <input
            #photoInput
            type="file"
            accept="image/*"
            class="hidden-file-input"
            (change)="onFileSelected($event)"
          >

          <button
            type="button"
            class="upload-btn"
            (click)="photoInput.click()"
          >
            Upload Photo
          </button>

          <button
            type="button"
            class="camera-btn"
            (click)="openCamera()"
          >
            📸 Camera
          </button>

          <button
            *ngIf="resident.photo"
            type="button"
            class="cancel-photo-btn"
            (click)="removePhoto(photoInput)"
          >
            Cancel Photo
          </button>

        </div>

      </div>

      <div class="field">

        <label>Resident User Account *</label>

        <select
          [(ngModel)]="resident.userId"
          name="userId"
          [disabled]="!isEditMode || !!residentData"
          (change)="onUserSelected()"
        >

          <option value="">
            Select resident account
          </option>

          <option
            *ngFor="let user of residentUsers"
            [ngValue]="user.id || ''"
          >
            {{ user.username }} - {{ user.email }}
          </option>

        </select>

      </div>

      <div class="field">

        <label>User Email *</label>

        <input
          type="email"
          [(ngModel)]="resident.userEmail"
          name="userEmail"
          disabled
        >

      </div>

      <div class="form-grid">

        <div class="field">
          <label>First Name *</label>

          <input
            type="text"
            [(ngModel)]="resident.firstname"
            name="firstname"
            [disabled]="!isEditMode"
          >
        </div>

        <div class="field">
          <label>Middle Name</label>

          <input
            type="text"
            [(ngModel)]="resident.middlename"
            name="middlename"
            [disabled]="!isEditMode"
          >
        </div>

        <div class="field">
          <label>Last Name *</label>

          <input
            type="text"
            [(ngModel)]="resident.lastname"
            name="lastname"
            [disabled]="!isEditMode"
          >
        </div>

        <div class="field">
          <label>Birthdate *</label>

          <input
            type="date"
            [(ngModel)]="resident.birthdate"
            name="birthdate"
            [disabled]="!isEditMode"
          >
        </div>

        <div class="field">
          <label>Civil Status *</label>

          <select
            [(ngModel)]="resident.civilStatus"
            name="civilStatus"
            [disabled]="!isEditMode"
          >
            <option value="">Select</option>
            <option value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Widowed">Widowed</option>
            <option value="Separated">Separated</option>
          </select>
        </div>

        <div class="field">
          <label>Gender *</label>

          <select
            [(ngModel)]="resident.gender"
            name="gender"
            [disabled]="!isEditMode"
          >
            <option value="">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="field">
          <label>Contact Number *</label>

          <input
            type="text"
            [(ngModel)]="resident.contactNumber"
            name="contactNumber"
            [disabled]="!isEditMode"
          >
        </div>

        <div class="field">
          <label>Zone *</label>

          <select
            [(ngModel)]="resident.address.zone"
            name="zone"
            [disabled]="!isEditMode"
          >
            <option value="">Select Zone</option>

            <option
              *ngFor="let zone of zones"
              [ngValue]="zone"
            >
              Zone {{ zone }}
            </option>
          </select>
        </div>

        <div class="field">
          <label>Street *</label>

          <input
            type="text"
            [(ngModel)]="resident.address.street"
            name="street"
            [disabled]="!isEditMode"
          >
        </div>

        <div class="field">
          <label>Barangay</label>

          <input
            type="text"
            [value]="defaultBarangay"
            disabled
          >
        </div>

      </div>

      <div class="form-buttons">

        <button
          *ngIf="!isEditMode"
          type="button"
          class="edit-btn"
          (click)="enableEdit()"
        >
          Edit
        </button>

        <button
          *ngIf="isEditMode"
          type="submit"
          class="save-btn"
        >
          Save Resident
        </button>

        <button
          type="button"
          class="close-btn"
          (click)="onClose()"
        >
          Close
        </button>

      </div>

    </form>

  </div>

</div>